  

.footer {
    font-family: 'var(--primaryFont)', sans-serif;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  
}

.footer p {
    font-weight: 500;
    font-family: var(--primaryFont);
    font-size: 18px;
}

.footer p span {
    font-size: 24px;
}
/* 
#madebynitish{
color:rgb(255, 255, 255);

} */


#madebynitish{
    font-size: 25px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(13) infinite alternate,
      blink 800ms steps(13) infinite normal;
    border-right: 5px solid white;
  }
  @keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 27.8%;
    }
  }
  @keyframes blink {
    from {
      border-color: white;
    }
    to {
      border-color: transparent;
    }
  }













  
@media (max-width: 1100px) {
    @keyframes typewriter {
        from {
          width: 0%;
        }
        to {
          width: 45%;
        }
      }
      @keyframes blink {
        from {
          border-color: white;
        }
        to {
          border-color: transparent;
        }
      }
    
  }
  
  @media (max-width: 900px) {
    @keyframes typewriter {
        from {
          width: 0%;
        }
        to {
          width: 70%;
        }
      }
      @keyframes blink {
        from {
          border-color: white;
        }
        to {
          border-color: transparent;
        }
      }
    
  }
  
  @media (max-width: 600px) {
    @keyframes typewriter {
        from {
          width: 0%;
        }
        to {
          width: 90%;
        }
      }
      @keyframes blink {
        from {
          border-color: white;
        }
        to {
          border-color: transparent;
        }
      }
  }
  
  @media (max-width: 500px) {
    @keyframes typewriter {
        from {
          width: 0%;
        }
        to {
          width: 100%;
        }
      }
      @keyframes blink {
        from {
          border-color: white;
        }
        to {
          border-color: transparent;
        }
      }
  }
  @media (max-width: 370px) {
    @keyframes typewriter {
        from {
          width: 0%;
        }
        to {
          width: 100%;
        }
      }
      @keyframes blink {
        from {
          border-color: white;
        }
        to {
          border-color: transparent;
        }
      }
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    @keyframes typewriter {
        from {
          width: 0%;
        }
        to {
          width: 100%;
        }
      }
      @keyframes blink {
        from {
          border-color: white;
        }
        to {
          border-color: transparent;
        }
      }
  }
  
  